.gallery {


    &__block {
        position: relative;
        padding-top: 100px;
    }

    &__border {
        display: block;
        margin: 0 auto;
    }

    &__box {
        position: absolute;
        margin: 0 auto;
        display: block;
        width: 700px;
        bottom: 30px;
        left: 220px;
    }

    &__slogan {
        font-size: 24px;
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 40px;
    }

    &__logo {
        display: block;
        margin: 0 auto;
    }
}